.sl-menu-drawer__menu-item {
  display: block;
  text-decoration: none;
}

.sl-menu-draw__menu-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sl-menu-draw__menu-item-title.menu-drawer__menu-item .icon-caret {
  display: block;
  height: .8rem;
  color: #909090;
  transition: transform .1s ease-in-out;
}

.sl-menu-draw__menu-item-title.active .icon-caret {
  transform: rotate(180deg);
}


.sl-menu-drawer__filters {
  padding: 1.1rem 3.5rem;
}

.sl-menu-drawer__filter {
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000;
  display: block;
}

.sl-menu-drawer__filter:hover {
  background-color: #F0F0F0;
}